
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-bottom: 70px;
}
.card{
  width: 340px;
  height: 200px;

  background: rgb(16,99,117);
background: linear-gradient(149deg, rgba(16,99,117,0.8507853403141361) 0%, rgba(178,224,223,1) 48%, rgba(44,147,161,1) 100%);
  border-radius: 8px;
  margin: 10px;
  font-family: 'Credit Card', sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 color: #333333;
  text-shadow: 0px 2px 3px #4d4848;
 
}

form,
form div{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.activatedButton {
  visibility: visible;
}

.inactiveButton {
  visibility: hidden;
}

.vendorSpan {
  
 position: absolute;
 right: 0;
 top: 0;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
span {
  padding: 5px;
}
label {
  font-size: 14px;
}
input
 {
  padding: 5px;
  border-radius: 10px;
  border: 0.5px solid;
}
.addCardBtn,
select {
  margin: 7px;
  border-radius: 10px;
  border: 0.5px solid;
  padding: 5px;
}

.img {
  width: 80px;
  height: auto;
  
}



.nameOnCardContainer {
  position: absolute;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.cardNumbeSpan{
 text-align: center;
 margin-top: 45px;
}


.MasterCard{
  background: radial-gradient(circle, rgb(255 229 39) 0%, rgb(225 57 7 / 88%) 48%, rgb(252 125 13) 100%);
  /* background: rgb(232,220,24);
background: linear-gradient(90deg, rgba(232,220,24,0.9005235602094241) 0%, rgba(253, 29, 29, 0.936) 50%, rgba(252,176,69,1) 100%); */
}
.Visa{
  background:conic-gradient(#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
								#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
								#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab,
								#e6e9bf, #d2b5aa, #cbaea3, #d4b5ab);
                
}
.Amex{
  background: radial-gradient(ellipse at center bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse at center top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #7e652b 62.5%, #5d4a1f 100%);

}
.validThrueContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.validThruSpan{
  display: flex;
  flex-direction: column;
  font-size: 10px;
 
}
.validDate{
  font-size: 10px;
 }

.blipp {
  width: 50px;
  height: auto;
  position: absolute;
  left: 25px;
  top: 30px;
  
}